* {

    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    
}

/*MAIN SECTIONS*/


body {

display: flex;
flex-direction: column;
justify-content: space-between;
}



header {

background:#191970;
color: white;
text-align: center;
font-size: xx-large;

}

fieldset {

    border: none;
    
    } 

/*STYLING*/

h1,h2 { 

font-size: 1em;
text-align: center;

}

.intro{
    margin-bottom: 30px;
    font-style: italic;
    font-size: 15px;
    text-align: center;

} 


.contact label  {

display: block;
padding-bottom: 10px;
flex-basis: 25%;


}

.contact input, select, textarea {
    display: block;
    height: 40px;
    width: 100%;
    background-color: #DCDCDC;
    border-radius: 5px;
    border: none;
}


.preferences label, .preferences input {

display: inline-block;

}

.form::before {
    content:"";
    max-width: 100%;
    height: 4px;
    margin-bottom: 7px;
    background: black;
    display:block;

}

.contact {
    border-bottom:2px solid black;
    margin-bottom: 10px;
    border-top:2px solid black;
    padding-top: 15px;
    max-width: 100%;
       
}



input::placeholder {
font-style: italic;
text-align: right;
}

#zip {
    max-width: 50%;
}


.contact input:nth-child(1n+1) {
    background-color: #DCDCDC;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.contact input:focus {
    background: lightyellow;
    transition: ease-in-out 3s;
}


textarea:focus {

background: lightyellow;
transition: ease-in-out 3s;

}

textarea {
    height: 70px;
}

.other {

     margin-bottom: 10px;
}

button {
 background: #6B8E23;
 color: white;
 font-size: large;
 text-align:center;
 border-radius: 5px;
 border: none;
 padding: 10px;
 width: 100%;
}

.container {

  background-color: lightsteelblue;
  padding-top: 25px;

}

.copy {
    text-align: center;
    font-size: 10px;
    padding-top: 10px;

}

/*MEDIA QUERIES---Tablet or Desktop*/

@media (min-width: 768px) {

    form {
     width: 60%;
     margin: auto;
       
    }
  
    .contact .flex-pair{

     display: flex;
     flex-direction: row; 
     align-content: flex-end;
    
     }

    .contact input, .contact select{
        flex-grow: 1;
        flex-basis: 75%;
    }

    .contact label {
      flex-basis: 25%;
      font-size: 12px;
      margin: auto 0;
      padding-top: 13px;
         
    }


    #zip {
      max-width: 25%;  
    }
    